<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="Nome" name="nome" [(ngModel)]="usuario.nome">         
        </div>
    </div>
    
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="Email" name="email" [(ngModel)]="usuario.email">         
        </div>
    </div>

    <div>
        <p-button label="Salvar" (click)="salvar()"></p-button>
    </div>
</div>
